
img {
    max-width: 600px;
}

video {
    z-index: 20;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header .icon {
    font-size: 4rem;
    margin-right: 30px;
}

.mainContainer {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: space-between;

    background-color: blanchedalmond;
}

main {
    background-color: rgb(248, 248, 248);

    flex-grow: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.searchbarSection {
    /* background-color: brown; */
    /* padding: 10px; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.searchbarSection .searchbarContainer {
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    width: 90%;

}

.searchbarSection .searchbarContainer .search {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 20px;
}

.postListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    flex-grow: 1;
}

.postListContainer h2 {
    padding: 20px;
    font-size: 2rem;
    font-weight: 400;
}

.postContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin-bottom: 20px;
}

.postContainer .postHeader {
    /* position: relative; */
    width: 100%;
    z-index: 20;
    
    /* padding: 10px; */
}

.postContainer .postHeader .top {
    background-color: var(--orange);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postContainer .postHeader .top .score {
    color: white;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 300;
}

.postContainer .postHeader .top .score .arrows {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}


.postContainer .postHeader h4 {
    color: var(--orange);
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 500;

    
}

.postContainer .postHeader .author {
    font-weight: 400;
    font-size: 0.8rem;
    margin-left: 20px;
    color: white;
}

.postContainer .postHeader .showMore {
    position: absolute;
    right: 20px;
    bottom: 5px;
    cursor: pointer;
    font-size: 1.7rem;
    color: var(--orange);
    
}

.postContainer .postHeader .showMore .tooltip {
    background-color: rgba(22, 22, 22, 0.7);
    color: white;
    visibility: hidden;
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 0.6rem;
    transition-delay: 0s;
}

.postContainer .postHeader .showMore:hover .tooltip {
    visibility: visible;
    transition-delay: 0.5s;
    cursor: default;
}





.postContainer .postBody {
    padding: 15px;
    padding-bottom: 35px;
    overflow: hidden;
}

.postContainer .postBody .textSection {
    max-height: 200px;
    overflow: hidden;
    position: relative;
    padding: 5px 20px;

}

.postContainer .postBody .textSection::after {
    content: '';
    z-index: 10;
    background-image: linear-gradient(rgba(255,255,255,0) 50%, rgba(255,255,255,0.8), rgba(255,255,255,1) );
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    max-height: 200px;
    width: 100%;
}

.postContainer .postBody .textSection.active {
    max-height: none;
    overflow: visible;
}

.postContainer .postBody .textSection.active::after {
    background-image: none;
}




.postContainer .postBody .textSection p {
    margin-bottom: 1rem;
    line-height: 1.3rem;
}



.sideContainer {
    /* background-color: rgb(187, 75, 0); */
    background-color: var(--orange);


    padding: 15px;
    min-width: 250px;
}

.subRedditListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
}

.subredditItemContainer {
    padding: 15px 10px;
}

.subredditItemContainer button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}

.commentsSection {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;

    /* background-color: rgb(252, 252, 252); */
}

.commentContainer {
    margin-left: 25px;

    /* border-left: 1px dotted  rgb(228, 228, 228); */

}

.commentContainer .commentSingle {
    background-color: rgba(240, 240, 240, 0.3);
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;

    border-top-left-radius: 5px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3),
                -1px -1px 1px rgba(0, 0, 0, 0.1),
                inset 2px 2px 2px rgba(255, 255, 255, 1);


}

.commentSingle .commentTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.commentSingle .commentTop .commentScore {
    color: var(--orange);
}

.commentContainer .commentAuthor {
    font-weight: 500;
    font-size: 0.8rem;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-right: 20px;
    color: var(--orange);
}

.commentContainer .commentBody {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.3;
}

.commentContainer .commentBody p {
    margin-bottom: 10px;
    word-wrap: break-word;
}

.commentContainer .commentBody ul {
    padding-left: 20px;
}

.commentContainer .commentBody li {
    margin-bottom: 5px;
}

.commentContainer .commentBody strong {
    font-weight: 400;
}